In [9]:
# pandas.DataFrame
# class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)[source]
# Data structure: Two-dimensional, size-mutable, potentially heterogeneous tabular data.

In [2]:
import pandas as pd

In [3]:

# Practice Problems for Part 1

# 1. Create a Pandas Series from a list of numbers from 1 to 10 and print the Series.

import numpy as np 
import pandas as pd 

df = pd.DataFrame({'a':1,'b':2},index=[1,2])
df

   a  b
1  1  2
2  1  2

In [ ]:
import pandas as pd

# List data, specifying dtype and name
data = [1, 2, 3, 4, 5]
series1 = pd.Series(data, dtype='int64', name="Numbers1")
series2 = pd.Series(data, dtype='int64', name="Numbers2")

df = pd.DataFrame([series1,series2], index = range(len(series1))) # ValueError: Length of values (2) does not match length of index (5)

In [39]:
marks = [5,10,15,20,15]
pd.Series(data=marks, name="Marks")

0     5
1    10
2    15
3    20
4    15
Name: Marks, dtype: int64

In [35]:
grades = ["A","B","C"]
pd.Series(data=grades, name="student_grades")

0    A
1    B
2    C
Name: student_grades, dtype: object

In [43]:
marks = [5,10,15,20,15]
grades = ["A","B","C"]
series1 = pd.Series(data=marks, name="Marks")
series2 = pd.Series(data=grades, name="student_grades")

df = pd.DataFrame(data=[series1,series2])
df.values

array([[5, 10, 15, 20.0, 15.0],
       ['A', 'B', 'C', nan, nan]], dtype=object)

In [8]:
# The index parameter is used to define the labels for the rows in the DataFrame.
# The columns parameter is used to define the labels for the columns in the DataFrame.

# When you pass a list of Series objects ([series1, series2]) to the DataFrame constructor, each Series becomes a row in the DataFrame by default.
import pandas as pd

# List data, specifying dtype and name
data = [1, 2, 3, 4, 5]
data1 = ['a','b','c','d','e']
series1 = pd.Series(data1)#, name="Numbers1")
series2 = pd.Series(data1)#, name="Numbers2")

# Creating DataFrame with 2 rows and matching index
df = pd.DataFrame([series1, series2])

print(df)

   0  1  2  3  4
0  a  b  c  d  e
1  a  b  c  d  e

In [79]:
# If you want the data to appear vertically with custom column names, you can specify the columns parameter when creating the DataFrame:
import pandas as pd

# Data for two series
data1 = [1, 2, 3, 4, 5]
data2 = [6, 7, 8, 9, 10]

# Create two Series
series1 = pd.Series(data1)
series2 = pd.Series(data2)

# Create DataFrame with custom column names
df = pd.DataFrame([series1, series2], columns=['A', 'B'])

print(df)

    A   B
0 NaN NaN
1 NaN NaN

In [80]:
import pandas as pd

# Data for two series
data1 = [1, 2, 3, 4, 5]
data2 = [6, 7, 8, 9, 10]

# Create DataFrame with custom column names
df = pd.DataFrame({'A': data1, 'B': data2})

print(df)

# DataFrame
#   |   |   |   |   |
#------------------------
#   |   series1
#   |   series2
#   |   series2
#   |   series3

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [ ]:
# pd.DataFrame([series1, series2], columns=['A', 'B', 'C', 'D', 'E']):

# Here, you're passing a list of Series objects ([series1, series2]) to the pd.DataFrame constructor.

# The columns parameter specifies the column names for the DataFrame.

# However, the pd.DataFrame constructor interprets the list of Series as rows, not columns. 
# This means it tries to create a DataFrame where each Series is a row, and the columns are labeled as ['A', 'B', 'C', 'D', 'E'].


# Mismatch in Dimensions:

# Each Series (series1 and series2) has 5 elements, but the columns parameter specifies 5 column names.

# Since the Series are being treated as rows, the constructor tries to align the Series indices with the column names. Since there's no direct alignment, it fills the DataFrame with NaN (Not a Number) values.

In [75]:
import pandas as pd

# List of data
data = [100, 200, 300]

# Specifying index and name
# index = ['X', 'Y', 'Z']
series = pd.Series(data, index=['X', 'Y', 'Z'], name="Values")

# Print the Series
print(series)

X    100
Y    200
Z    300
Name: Values, dtype: int64

In [48]:
import pandas as pd

# Create some data
data = {'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]}

# Specify the index and columns
index = ['Row1', 'Row2', 'Row3']
columns = ['A', 'B', 'C']

# Create DataFrame
df = pd.DataFrame(data, index=index, columns=columns)

print(df)

      A  B  C
Row1  1  2  3
Row2  4  5  6
Row3  7  8  9

In [92]:
df = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],"C":[7,8,9]})

df1 = pd.DataFrame(df.values,columns=['A',"B","C"])
df1

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [2]:
# 2. Create a Pandas DataFrame from a dictionary with keys 'Name', 'Age', and 'Gender', and add at least three records. Print the DataFrame.

In [ ]:
# 3. Load a CSV file into a Pandas DataFrame and print the first 5 rows.
# Assuming 'data.csv' is present in the same directory.

In [ ]:
# 4. Identify and count missing values in a given DataFrame.

In [ ]:
# 5. Drop columns from a DataFrame where more than 50% of the values are missing.

In [ ]:
# 6. Add a new column to a DataFrame by performing arithmetic operations on existing columns.