## Sagar Chhabriya AI Final Lab

### 1. Import Libraries

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd

### 2. Create Dataset

In [29]:
X, y = make_classification(n_samples=200, n_features=4, n_classes=2, random_state=42)

In [30]:
columns = ["performance", "assignment", "attendance", "study_hours"]
df = pd.DataFrame(X, columns=columns)

In [31]:
df

     performance  assignment  attendance  study_hours
0       1.689767   -1.408241   -0.962936     1.163491
1       0.855820   -0.430646   -0.390659     0.435911
2      -1.175042   -1.447633   -0.163790     0.508040
3       1.394775    2.019333    0.297780    -0.766396
4      -0.073240    0.336417    0.136302    -0.199882
..           ...         ...         ...          ...
195     0.952434    0.739700   -0.016168    -0.176427
196     0.025602    0.457280    0.149768    -0.242124
197    -0.801478    1.636364    0.789288    -1.077433
198     0.883600   -0.699600   -0.490898     0.588439
199     1.144930    2.669951    0.592077    -1.178524

[200 rows x 4 columns]

In [32]:
df["result"] = y
df["result"]

0      1
1      1
2      0
3      1
4      1
      ..
195    1
196    1
197    0
198    1
199    1
Name: result, Length: 200, dtype: int64

In [33]:
X = df.iloc[:,:-1]
y = df["result"]

### 3. Train Test Split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42 )

### 4. Train and Predict the Model

In [35]:
lr = LogisticRegression()

lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

### 5. Evaluate the Model

In [36]:
accuracy_score(y_pred=y_pred, y_true=y_test)

0.9