In [80]:
import numpy as np 
import pandas as pd

In [81]:
# Set random seed
np.random.seed(42)

# Generating sample student data
num_students = 1000
study_hours = np.random.randint(1,10, num_students) 
attendance = np.random.randint(60,100, num_students)
assignments_completed = np.random.randint(5,30, num_students)
extracurricular = np.random.randint(0,2, num_students)

# Generating final scores(Regression Target)
final_scores = (study_hours * 8)  + (attendance * 0.5) + (assignments_completed * 2 ) + (extracurricular * 3 ) + np.random.randint(-10, 10, num_students)

# Generating pass/fail labels (Classification Target: 1 = Pass, 0 = Fail)
pass_fail = np.where(final_scores >= 114, 1, 0) 

# Creating DataFrame
students_df = pd.DataFrame({
    "Study Hourse": study_hours, 
    "Attendance (%) ":attendance, 
    "Assignments Completed": assignments_completed,
    "Extracurricular (0=No, 1=Yes)": extracurricular,
    "Final Score": final_scores,
    "Pass (1=Yes, 0=No)": pass_fail
})

In [82]:
students_df.head()

,Study Hourse,Attendance (%),Assignments Completed,"Extracurricular (0=No, 1=Yes)",Final Score,"Pass (1=Yes, 0=No)"
0,7,83,19,0,128.5,1
1,4,82,21,0,119.0,1
2,8,67,14,0,115.5,1
3,5,96,10,0,108.0,0
4,7,62,22,0,127.0,1

In [83]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Study Hourse                   1000 non-null   int32
 1   Attendance (%)                 1000 non-null   int32
 2   Assignments Completed          1000 non-null   int32
 3   Extracurricular (0=No, 1=Yes)  1000 non-null   int32
 4   Final Score                    1000 non-null   float64
 5   Pass (1=Yes, 0=No)             1000 non-null   int64
dtypes: float64(1), int32(4), int64(1)
memory usage: 31.4 KB

In [84]:
students_df.describe()

,Study Hourse,Attendance (%),Assignments Completed,"Extracurricular (0=No, 1=Yes)",Final Score,"Pass (1=Yes, 0=No)"
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,4.898000,79.638000,17.322000,0.484000,114.851000,0.511000
std,2.603916,11.496048,7.314904,0.499994,26.417555,0.500129
min,1.000000,60.000000,5.000000,0.000000,42.500000,0.000000
25%,3.000000,70.000000,11.000000,0.000000,95.500000,0.000000
50%,5.000000,80.000000,18.000000,0.000000,114.500000,1.000000
75%,7.000000,90.000000,24.000000,1.000000,134.625000,1.000000
max,9.000000,99.000000,29.000000,1.000000,181.500000,1.000000

In [85]:
students_df["Pass (1=Yes, 0=No)"].value_counts()

Pass (1=Yes, 0=No)
1    511
0    489
Name: count, dtype: int64

In [86]:
students_df["Final Score"].mean()

np.float64(114.851)

In [87]:
type(num_students), type(study_hours), type(assignments_completed), type(extracurricular), type(attendance)

(int, numpy.ndarray, numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [88]:
type(students_df["Final Score"])

pandas.core.series.Series

In [89]:
type(final_scores)

numpy.ndarray

In [ ]:
students_df.to_excel("students.xlsx")